
*{
  padding:0;
  margin: 0;
  box-sizing: border-box; 
  font-family: 'Montserrat', sans-serif;
}
article.contenedor{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
}
 
article.contenedor img {
  max-width: 20%;
  height: auto;
} 

article.contenedor a{
  text-align: center;
  color:rgb(230, 154, 13);
  text-decoration: none;
} 
  